:root
{
    --text-xl:  3.6rem;
    --text-l:   2.5rem;
    --text-m:   2rem;
    --text-sm:  1.2rem;
    --text-x:   0.870rem;
    --color-white: #ffffff;
    --font-f1: 'DM Sans',sans-serif;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url("https://raw.githubusercontent.com/sushiswap/sushi-content/master/images/neon-street.jpg"); 
    background-position: center -5rem; 
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-color: #371954;
}

html
{
    font-size: 62.5%;
}

a
{
    text-decoration: none;
}






header
{
    width: 100%;
    height: auto;
}

header .header-container
{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img
{
    background-image: url('../assets/icons/sushi-logo.png');
    position: relative;
    left: -0.125rem;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container .logo-name
{
    color: var(--color-white);
    font-size: 2rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2rem;
}

.header-container .menu-icon
{
    background-image: url('../assets/icons/menu_white_24dp.svg');
    background-repeat: no-repeat;
    height: 25px;
    width: 17px;
    background-position: center;
    background-size: cover;
    position: relative;
    right: 0.2rem;
}



main 
{
    width: 100%;
    height: auto;
}

main .subtitle
{
    color: #ffffff;
    font-size: 2.250rem;
    line-height: 2.8rem;
}

main .sushi-defi-chef
{
    width: 90%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.defi-chef-container
{
    margin-top: 28px;
    text-align: center;
}

.defi-chef-container .sushi-neon
{
    width: 128px;
    height: 120px;
}

.defi-chef-container .title
{
    margin-top: 14px;
    color: var(--color-white);
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 4.4rem;
}

.defi-chef-container .paragraph
{
    color: var(--color-white);
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-top: 25px;
}

.defi-chef-container .button-le-app
{
    display: grid;
    gap: 12px;
    margin-top: 40px;
}


.button-le-app .app-button
{
    width: 310px;
    height: 48px;
    border: solid 1px #371954;
    padding: 14px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.6rem;
    cursor: pointer;
}

.header-button-one
{
    background-color: transparent;
    box-shadow: 0px 9px 25px 7px rgba(0,0,0,0.38),
    inset 0px 8px 30px -12px rgba(0,0,0,0.38);
}

.header-button-two
{
    background-color: #2e3348;
}


.sushi-numbers-value
{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
}


.sushi-numbers-value .number-box
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}

.number-box .sushi-number
{
    height: 124px;
    background-color: #202231;
    width: 150px;
    text-align: center;
    justify-self: center;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 10px;
}

.sushi-number .title-number
{
    margin-top: 20px;
    color: #ffffff;
    font-size: 3.265rem;
}
.sushi-number .value
{
    margin-top: 5px;
    color: rgb(127,127,127);
    font-size: 1.4rem;
}





.sushi-master-chef
{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}


.master-cart
{
    width: 100%;
    height: auto;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.master-cart .cart
{

    width: 370px;
    min-width: 280px;
    height: 265px;
    background-color: #202231;
    margin-top: 128px;
    margin-left: 25px;
    margin-bottom: 50px;
    border-radius: 8px;
    position: relative;
}

.cart .cart-icon-container
{
    position: absolute;
    background-image: linear-gradient(224.43deg, rgb(13, 4, 21) -16.69%, rgb(27, 33, 82) 86.36%);
    border-radius: 50%;
    text-align: center;
    height: 123px;
    width: 123px;
    padding-top: 26px;
    top: -25%;
    left: 28%;
}

.cart img
{
    width: 50%;
}

.cart-icon__p3 img
{
    margin-top: 16px;
}

.cart .cart-title
{
    color: #ffffff;
    padding-top: 73px;
    font-size: 1.8rem;
    font-weight: bold;
}

.cart .cart-paragraph
{
    color: rgb(127,127,127);
    padding-top: 14px;
    font-size: 1.425rem;
    width: 80%;
    margin: 0 auto;
}

.cart .cart-button
{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 44px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 14px;
    background-image: linear-gradient(to right, rgb(1, 110, 218), rgb(217, 0, 192));
    color: var(--color-white);
    padding: 14px;
    font-size: 1.625rem;
}







.sushi-community-evolving
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 0 8px;
}

.sushi-community-evolving .community-evolving
{
    width: 100%;
    height: auto;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    overflow: scroll;
}

.community-evolving .cart
{
    width: 370px;
    min-width: 280px;
    height: 265px;
    background-color: #202231;
    border-radius: 8px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 80px;
    margin-left: 25px;
}


.community-evolving .cart img
{
    width: 111px;
    height: 111px;
    margin-top: 36px;
}

.community-evolving .cart .community-cart-numbers
{
    font-size: 3.62rem;
    color: var(--color-white);
}

.community-evolving .cart .community-cart-paragraph
{
    color: rgb(127,127,127);
    font-size: 1.625rem;
    margin-top: 8px;
}

.sushi-partners-help
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.sushi-partners-help .partner-cart
{
    margin-top: 34px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.partner-cart .cart
{
    padding-bottom: 20px;
}

.partner-cart .cart .paragraph
{
    color: rgb(127,127,127);
    font-size: 1.4rem;
    padding-top: 8px;
}

.partner-cart img
{
    width: 111px;
}





footer
{
    background-color: #161522;
    width: 100%;
    height: auto;
}

footer .footer-container
{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 75px;
}

.footer-container .sushi-building-platform
{
    padding-top: 64px;
    padding-left: 10px;
    padding-right: 10px;
}

.sushi-building-platform .footer-heading
{
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.footer-heading .footer-title
{
    font-size: 2rem;
    padding-left: 5px;
    color: var(--color-white);
}

.sushi-building-platform .footer-paragraph
{
    padding-left: 8px;
    color: rgb(156,163,175);
    font-size: 1.4rem;
    line-height: 2rem;
}

.sushi-building-platform .social-media-sect
{
    padding-top: 20px;
    padding-left: 8px;
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}

ion-icon
{
    font-size: 2.8rem;
}

.footer-container .cols-sections
{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 38px;
    gap: 16px;
}

.footer-container .cols-sections li
{
    list-style: none;
    padding-top: 24px;
}

.footer-container .cols-sections .footer-subtitle
{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.425rem;
    font-weight: bold;
}

.footer-container .cols-sections li a
{
    color: rgb(156,163,175);
    font-size: 1.475rem;
}

.footer-container .cols-sect-protocol .footer-subtitle
{
    padding-top: 42px;
}